always (
    o6[t]:bv[16] = i10[t]:bv[16] &&
    ( ( i15[t]:bv[16] = { 0 }:bv[16] && o7[t]:bv[16] = { 1 }:bv[16] ) ||
      ( i15[t]:bv[16] != { 0 }:bv[16] &&
        ( ( { __THRESHOLD__ }:bv[64] <= i14[t]:bv[64] && o7[t]:bv[16] = { 1 }:bv[16] ) ||
          ( { __THRESHOLD__ }:bv[64] >  i14[t]:bv[64] && o7[t]:bv[16] = { 0 }:bv[16] ) ) ) )
)
